body {
    background-color: rgb(0, 35, 51);
}


body, input, button {
    font-family: Courier New, Courier, monospace;
}

h1, h2, p {
    text-align: center;
    color: white;
}

p {
    font-size: 0.8rem;
    line-height: 1rem;
}

a, a:visited {
    color: rgb(243, 243, 243);
    transition: color ease-out 0.4s;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    color: rgb(0, 255, 132);
    transition: color ease-out 0.2s;
}

.form-box {
    border: 1px solid white;
    border-radius: 30px;
    margin: 5vh auto;
    padding-bottom: 2vh;
    width: 20rem;
}

input, button {
    display: block;
    margin: 5vh auto;
    font-weight: bold;
    border-radius: 5px;
}

input {
    padding: 3px;
    border-color: rgb(255, 0, 0);
}

button {
    background-color: white;
    border-color: rgb(0, 255, 132);
}